
#main{
    height: 100vh;
    width: 100%;
}
#navBar { 
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--background);
    z-index: 32;
    padding-top: 15px;
    
}
#navBar img{
width: 60px;
border-radius: 50%;
margin: 10px;
}
#listOfTask{
    position: relative;
    width: 100%;
    height: 75%;
    z-index: 20;
}
.listOfTaskImg{
    width: 100%;
    height: 100vh;
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0px;
    z-index: -20;
}
.listOfTaskImgOpacity{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -15;
    background-color: black;
    opacity: 0.50;
}
.smallImg{
    width: 60%;
    height: 50%;
    background-image: url(../images/Photo.png);
    background-size: cover;
    position: absolute;
    left:-10%;
    top: 22%;
    
}
.listOfTask section{
    position: relative;
}
.wheel{
    width: 60%;
    height: auto;
    position: absolute;
    right: 5%;
    top: 12%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    z-index: 20;
}
.wheel a{
    color: var(--background);
    text-decoration: none;
    margin:auto;
    z-index: 20;
}
.balloonProcent{
    max-width: 45px;
    max-height: 45px;
    position: relative;
    background-color: var(--background);
    border-radius: 50%;
    padding: 26px;
    background: linear-gradient(to right, #6EC3EF, #2C3C3A);

}
.balloonText{
    background:var(--background);
    color: var(--secBtnCollor);
    padding: 1px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 2px;
    top: 2px;
    margin: auto;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 45px; 
}

.infoRow{
    display: flex;
    flex-direction: row;
}
.infoRow a{
    font-family: 'Bahnschrift', sans-serif;
    width: 100px;
    text-align: center;
    margin-left: 15px;
}
.chat{
    width: 50px;
    height: 50px;
    background-image: url(../images/LiveChat.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 5%;
    bottom: 15%;
}
#site-map{
    width: 100%;
    height: 130px;
    position: relative;
    margin-top: -40px;
    
}
.bottomNav{
    width: 100%;
    background-image: url(../images/bar.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
}
.makeMeWhite{
    background-color: #fff;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0%;

}

.newsPeaper{
    width:50px;
    height: 50px;
    background-image: url(../images/newsICON.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 2em;
    z-index: 2;
}
.notifications{
    width:55px;
    height:55px;
    background-image: url(../images/notificationsICON.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: relative;
    top: 2em;
}
.home{
    width:66px;
    height:66px;
    background-image: url(../images/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 30px;
    left: 7%;
    z-index: 2;
}
.homeBackground h1{
    font-weight: 200;
    margin: 0;
}
#hiddenWheelLi{
    display: none;
}
#midSection{
    margin-left: 30px;
}
#firstSection{
    margin-left: -30px
}
lastSection{
    margin-left: -30px;
}
.optionMain0{
    margin-left: -50px;
}
.optionMain2{
    margin-left: 50px;
}
.optionMain3{
    margin-left: 50px;
}
.optionMain5{
    margin-left: -50px;
}