#news{
    background-color:#fff;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#header video{
    width: 100%;

}
#header h1{
    font-size: 16px;
    font-weight: lighter;
    padding: 10px;
    width: fit-content;
    border: 1px groove var(--background);
    border-radius: 30px;
    background-color: var(--background);
    box-shadow: 1px 1px 0px 0px var(--backgroundFormColor);
    position: absolute;
    bottom: -35px;
}
.newsListImg1{
    width: 70%;
    height: 150px;
    background-image: url('../images/MeetPeople.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover  ;
    border-radius: 15%;

}
.newsListImg2{
    width: 70%;
    height: 150px;
    background-image: url('../images/CultureShock.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover  ;
    border-radius: 15%;
}
.newsListImg3{
    width: 70%;
    height: 150px;
    background-image: url('../images/Climate.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover  ;
    border-radius: 15%;
}
#listOfNews section{
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px groove var(--background);
    border-radius: 20px;
    box-shadow: 2px 3px 0px 1px var(--backgroundFormColor);
    background-color: var(--background);
    padding: 20px;
    color: var(--colorsForParInNews);
}
#listOfNews section div h1{
   width: 70%;
   text-align: center;
   color: white;
   font-weight: 350;
   z-index: 10;
}
.newsListImg{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;

}
.newsListImg div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: black;
    font-weight: 350;
    font-size: 16px;
    opacity: 0.6;
    z-index: 5;
    border-radius: 15%;
 }
 .paragraphs1 p{
    font-family: var(--paragparhsInNews);
    font-size: 12px;
    font-weight: 500;
 }

 .paragraphs2 p{
    font-family: var(--paragparhsInNews);
    font-size: 12px;
    font-weight: 500;
 }
 .paragraphs3 p{
    font-family: var(--paragparhsInNews);
    font-size: 12px;
    font-weight: 500;
 }
#footer{
    width: 100%;
    height: 150px;
    background-image: url('../images/newsBAR.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover  ;
    position: relative;
}
#footer div{
    width: 70px;
    height: 70px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    left: 43%;
    top: 55px;
}
#footer section{
    width: 70px;
    height: 70px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    bottom: 15%;
}
.dots1 div{
    background-color: var(--secBtnCollor);
}
.dots2 div{
    background-color: var(--secBtnCollor);
}
.dots3 div{
    background-color: var(--secBtnCollor);
}
.active{
    background-color: green;
}
.notifyIconBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 5%;
}