#profile{
    width: 90%;
    margin: auto;
    height: 100%;
    position: relative;
    top: -40px;
}
#profile div h3{
    margin: 0;
}
.pictureAndCountry{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10%;
    position: relative;
    top: 5%;
}
#profile-picture{
    width: 80px;
    height: 80px;
    background-image: url('https://scontent-cph2-1.xx.fbcdn.net/v/t1.6435-9/51545850_10214302658900386_1194998865414062080_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=FitUoHOpATAAX8YPa1J&_nc_ht=scontent-cph2-1.xx&oh=00_AT9VATPIFddiOSgJMKWKufX3n7mG8mLlcvvASSiXnGklbQ&oe=635F372B');
    border-radius: 50%;
    background-size: cover;
}
.flag{
    width: 30px;
    height: 25px;
    background-image: url(../images/france.jpg);
    background-size: contain;

}
.firstSection{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 10%;
    
}
.firstSection h3{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1%;
}
.firstSection p{
    position: absolute;
    top: 25%;
    left: 5%;
    color: var(--secBtnCollor);
}
.firstSection input{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 80%;
    height: 20%;
}/* The container must be positioned relative: */
.custom-select {
    position: relative;
    margin: auto;
    top: 10%;
    font-family: var(--natoSans);
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: white;
    
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--secBtnCollor) transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--secBtnCollor) transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #2C3C3A;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: var(--backgroundFormColor);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
.btnProfile{
    width: 25%;
    border-style: none;
    height: 35px;
    position: absolute;
    right: 0;
    bottom: 5%;
    font-size: 20px;
    font-weight:600;
}
#country{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;

}
#logout{
    width: 270px;
    height: 43px;
    margin: 0 auto;
    padding: auto;
    position: relative;
    left: 10%;
    top: 5%;
    text-align: center;
    background-color: var(--btnCollor);
    border-radius: 25px;
    background-image: linear-gradient(to right, var(--btnCollor) 0%, #A2CFEB 30% , #736165  60% ,#736165 75%, #2C3C3A  90%);
    background-size: 100% auto;
    color: white;            
    text-decoration: none;
}
.firstNameProfile::placeholder{
    color: var(--secBtnCollor);
    font-size: 16px;
}
.firstNameProfile{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    margin: 16px auto;
    font-family: var(--natoSans);
}
#emailProfile::placeholder{
    color: var(--secBtnCollor);
    font-size: 16px;
}
.emailProfile{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    margin: 16px auto;
    width: 100%;
}
